<!DOCTYPE html>
<html lang="en" ng-app="blog" ng-cloak>

  {% include head.html %}

  <body layout="column" ng-controller="BlogCtrl">

<!--     <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div> -->
    
    {% include toolbar.html %}

    <div flex layout="row">
      {% include sidenav.html %}
      <md-content flex md-scroll-y>
        {{content}}
      </md-content>
    </div>
    {% include scripts.html %}
    {% include analytics.html %}
  </body>
</html>
